@font-face {
  font-family: "FZS3JW";
  src: url("/fonts/FZS3JW/FZS3JW.eot"); /* IE9 Compat Modes */
  src: url("/fonts/FZS3JW/FZS3JW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/FZS3JW/FZS3JW.otf") format("opentype"), /* Open Type Font */
    url("/fonts/FZS3JW/FZS3JW.svg") format("svg"), /* Legacy iOS */
    url("/fonts/FZS3JW/FZS3JW.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/FZS3JW/FZS3JW.woff") format("woff"), /* Modern Browsers */
    url("/fonts/FZS3JW/FZS3JW.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Times New Roman", "FZS3JW", "PingFang SC", "Microsoft YaHei";
}

.site-title {
    font-size: 2em;
}

.post-title {
    font-size: 1.7em;
    font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", "FZS3JW", "PingFang SC", "Microsoft YaHei";
}

.post-body {
    font-family: "Times New Roman", "FZS3JW", "PingFang SC", "Microsoft YaHei";
    font-size: 0.9em;
}

.tag-cloud-tags a {
    color: black !important;
    font-size: 1em !important;
}
